
.idea/.name

.idea/Observer-JS.iml

.idea/dictionaries/Gary.xml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/Jasmine.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

test/jasmine-1.3.1/jasmine-html.js

test/jasmine-1.3.1/jasmine.css

test/jasmine-1.3.1/jasmine.js

.idea/watcherTasks.xml

.idea/libraries/Generated_files.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/*